*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    
}
html{
    scroll-behavior: smooth;
}

.nav{
    background-color: rgb(225, 219, 234);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0,0, 0.2);
}

.leftnav{
    width: 40%;
    flex-direction: column;
    padding-left: 35px;
}
.leftnav h1{
    color: rgb(95,194,95);
    font-weight:lighter;
    cursor: context-menu;
}

.rightnav{
    height: 50px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rightnav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 35px;
}

.rightnav a:hover{
    color: rgb(95, 194, 95);
}

.main{
    font-family: monospace;
    text-align: center;
    margin-top: 30px;
}

.main h1{
    position: relative;
    color: rgb(95,195 , 95);
    font-weight: lighter;
    width: max-content;
    margin: auto;
}

.main p{
    font-size: 20px;
    color: gray;
}

main h1::after{
    content: '';
    background-color: gray;
    height: 4px;
    width: 40%;
    position: absolute;
    bottom: -10px;
    left: 40px;
  }

  .content {
    margin: 200px auto 40px;
  }

  .download{
    position: relative;
    text-decoration: none;
    width: max-content;
    padding: 10px;
    background-color: rgb(95, 194, 95);
    color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0,0, 0.2);
    border-radius: 2rem;
    margin: auto;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    
  }

  .download:hover{
    background-color: gray;
    color: #000;
  }
  .top{
  position:sticky;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-left:90%;
  bottom: 10px;
  right: 10px;
  background-color: rgb(95, 194, 95);
  width: max-content;
  border-radius: 2rem;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1000;
}
.top:hover{
  background-color: gray;
  counter-reset: #000;
}
  footer {
    position: relative;
  margin: 0 auto;
  padding: 50px;
  height: 300px;
   padding-bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(225, 219, 234);
   box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  top: 300px;
}
footer p{
    font-size: 15px;
    font-weight: bold;
    color: gray;
    
}
.footer-links a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 5px;
  font-weight: bold
  
}
.footer-links a:hover{
  color: rgb(95, 194, 95);
}